<div class="container">
	<div class="row">
    	<div class="col-xs-12">
        	<div class="jumbotron">
                <h1>Blocmetrics</h1>
            	<p>API Tracking Service and Reporting. Build an analytics service and reporting tool that you can use with web apps to track user activity.</p>
            	<p><%= link_to "Learn more", about_path, class: "btn btn-primary btn-lg" %></p>
            </div>
        </div>
    </div>
</div>
